{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Сравнение телефонов</h1>
        </div>
        <div>
            <table>
                {% for row in phones %}
                <tr>
                    {% for cell in row %}
                    <td> {{ cell }} </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}